.container1{
    position: absolute;
    width: 100%;
    height: 25rem;
    top: 10rem;
}

.container1 .box1{
    display: flex;
    margin-left: 260px;
    margin-right: 260px;
}

.container1 .content1{
    background: rgba(55, 55, 155, 0.4);
    width: 100%;
    height: 25rem;
    border-radius: 10px;
}

.container1 .content1 header{
    color: #fff;
    padding-left: 1rem;
    font-size: 5rem;
    font-weight: bold;
}

.container1 .content1 form{
    margin-left: 3rem;
    margin-right: 3rem;
    border-top: 2px solid #fff;
    display: flex;
    flex-direction: column;
}

.container1 .content1 form input{
    border-radius: 5px;
    border: 1px solid #fff;
    margin-top: 1.5rem;
    width: 90%;
    height: 2.5rem;
}

.container1 .content1 form input[type=text]{
    padding-left: 2.5rem;
}
.container1 .content1 form input[type=password]{
    padding-left: 2.5rem;
}

.username{
    background-image: url(../../img/Username_2-32.png);
    background-position: left;
    background-repeat: no-repeat;
}
.password{
    background-image: url(../../img/Password-32.png);
    background-position: left;
    background-repeat: no-repeat;
}

.container1 .content1 form .submit{
    background: #041a3d;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.3rem;
    height: 2.7rem;
    width: 101%;
}
.container1 .content1 form .submit:hover{
    cursor: pointer;
    background: #fff;
    color: #041a3d;
    font-weight: 700;
}

.container1 .content1 .taga{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
}

.container1 .content1 .taga input{
    position: relative;
    width: 101%;
    height: 2.5rem;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
}

.container1 .content1 .taga input:hover{
    cursor: pointer;
    background: #fff;
    color: #333;
    font-weight: 800;
}

.container1 .content2{
    width: 100%;
    text-align: center;
    background: rgba(55, 255, 255, 0.1);
    border-radius: 10px;
}

.container1 .content2 .img{
    position: relative;
    top: 6.5rem;
    left: 1%;
    width: 98%;
    height: 10rem;
    background: url(../../img/silhouette.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    opacity: 0.5;
}

.container1 .content2 h3{
    padding-top: 0.8rem;
}

.container1 .content2 p{
    padding-top: 0.8rem;
    height: 5rem;
    font-size: 1rem;
}
@media(max-width: 1110px){
    .container1{
        top: 5rem;
    }


    .container1 .box1{
        display: flex;
        flex-direction: column;
        margin-left: 260px;
        margin-right: 260px;
    }
    
    .container1 .content2{
        height: 20rem;
    }
    .container1 .content2 .img{
        top: 1.5rem;
    }
}